# Pastas de Sistema que foram adicionadas acidentalmente ao indice
Ambiente de Impressão/
Ambiente de Rede/
Configurações Locais/
Cookies/
Dados de Aplicativos/
Documents/
Documents/Meus Vídeos/
Documents/Minhas Imagens/
Documents/Minhas Músicas/
Menu Iniciar/
Meus Documentos/
Modelos/
Recent/
SendTo/

# Pastas de IDE e Sistema (Boas práticas)
.vscode/
.idea/